.app {
    background: url('./assets/unitygrid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    height: 30vh;
    width: 85vw;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.header-buttons {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.header-buttons button {
    margin-right: 20px;
    margin-left: 20px;
}

.home-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.home-button:hover {
    background-color: #0056b3;
}